body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: black;
    height: 100vh;
}

.header {
    background-color: #072b3f;
    text-align: center;
    padding: 15px;
    position: relative;
    z-index: 10; /* La barra superior debe estar en una capa superior */
}

.header h1 {
    color: white;
    font-family: 'Alex Brush', cursive;
    font-size: 50px;
    position: relative;
    z-index: 11; /* El contenido de la barra superior debe estar en una capa superior */
}

.quickPoint {
    position: absolute;
    left: 10px;
    top: -15px;
    width: 100px;
    z-index: 11; /* La imagen debe estar en una capa superior */
}

.vortex {
    position: absolute;
    left: 110px;
    top: -10px;
    width: 100px;
    z-index: 11; /* La imagen debe estar en una capa superior */
}

.login {
    position: absolute;
    right: 50px;
    top: -5px;
    width: 80px;
    z-index: 11; /* La imagen debe estar en una capa superior */
} 

.navbar-link {
    color: white;           
    text-decoration: none;   
}

.navbar-link:hover {
    color: #ccc;            
    text-decoration: none;   
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex: 1;
    position: relative; /* Asegura que los elementos hijos puedan ser posicionados absolutamente */
    z-index: 1; /* La capa por defecto */
}

.menu-lateral {
    width: 20%;
    background-color: #194c6f;
    padding: 20px;
    color: white;
    position: fixed;
    top: 85px; 
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    overflow-y: auto;
    font-family: 'Quicksand', sans-serif; 
    text-align: center; 
    font-size: 1.2em;
    z-index: 10; /* El menú lateral debe estar en una capa superior */
}

.menu-lateral h2, .menu-lateral h3 {
    margin-top: 40px; 
    margin-bottom: 40px; 
    text-align: center; 
    font-size: 1.5em; 
}

.boton {
    display: block;
    margin: 30px 0; 
    padding: 15px;
    background-color: #1a3e5a; 
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Quicksand', sans-serif; 
    font-size: 1.3em; 
}

.boton:hover {
    background-color: #0f2a3e; 
}

.carrusel {
    position: fixed; /* Posiciona el carrusel de manera fija */
    top: -20px; /* Coloca el carrusel justo debajo de la barra superior */
    left: 12.8%; /* Coloca el carrusel a la derecha del menú lateral */
    right: 0; /* Extiende el carrusel hasta el borde derecho */
    bottom: 0; /* Extiende el carrusel hasta el borde inferior */
    background-color: white;
    font-family: 'Quicksand', sans-serif; 
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1; /* Coloca el carrusel en la capa de hasta atrás */
}

