.header {
    background-color: #072b3f;
    text-align: center;
    padding: 15px;
    position: relative;
    z-index: 1;
}

.header h1 {
    color: white;
    font-family: 'Alex Brush', cursive;
    font-size: 50px;
    position: relative;
    z-index: 1;
}

.quickPoint {
    position: absolute;
    left: 10px;
    top: -15px;
    width: 100px;
}

.vortex {
    position: absolute;
    left: 110px;
    top: -10px;
    width: 100px;
}

.login {
    position: absolute;
    right: 50px;
    top: -5px;
    width: 80px;
} 

.navbar-link {
    color: white;           
    text-decoration: none;   
}

.navbar-link:hover {
    color: #ccc;            
    text-decoration: none;   
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.menu-lateral {
    width: 20%;
    background-color: #194c6f;
    padding: 20px;
    color: white;
    position: fixed;
    top: 85px; 
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    overflow-y: auto;
    font-family: 'Quicksand', sans-serif; 
    text-align: center; 
    font-size: 1.2em; /* Aumentar el tamaño del texto en el menú lateral */
}

.menu-lateral h2, .menu-lateral h3 {
    margin-top: 40px; 
    margin-bottom: 40px; 
    text-align: center; 
    font-size: 1.5em; /* Aumentar el tamaño del texto en los títulos */
} #botonLogin{
    background-color: #5A7D8C ;
    color: white;
    cursor: pointer;

}
 #botonMPaciente {
    background-color: #5A7D8C;
    color: white;
     border: none;
     border-radius: 10px; 
     padding: 10px 20px;
     font-size: 16px; 
     cursor: pointer;
     width: auto; 
}


.boton {
    display: block;
    margin: 30px 0; 
    padding: 15px;
    background-color: #1a3e5a; 
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Quicksand', sans-serif; 
    font-size: 1.3em; /* Aumentar el tamaño del texto en los botones */
}

.boton:hover {
    background-color: #0f2a3e; 
}

.carrusel {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    margin-left: 20%; 
    font-family: 'Quicksand', sans-serif; 
}
main{
    position: relative;
}#TablaPaciente{
    position:absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -75%);
}
.contenido-main{
        flex-grow: 1;
         padding: 20px; 
         background-color: white; 
         margin-left: 20%; 
         font-family: 'Quicksand', sans-serif; 
}

.contenido-main h2 {
    position: relative;
    color: #194c6f;
    font-size: 32px;
}  p {
    font-size: 21px;
} input {
    background-color: #194c6f;
    color: #ffffff;
    font-style: oblique;
    font-display: left;
    width: 65%;
    height: 80px;
} .container section {
    position: absolute;
    color: #a5b4d0;
}
